**/.nixos-test-history
*.aux
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.eventlog
*.hi
*.hie
*.hp
*.o
*.prof
.HTF/
.cabal-sandbox/
.direnv
.ghc.environment.*
.hpc
.hsenv
.stack-work/
cabal-dev
cabal.project.local
cabal.project.local~
cabal.sandbox.config
dist
dist-*
docs/book
result
result-*
